---
import socials from "../data/socials.yaml";
---

<footer>

  <div class="mid-align">

    <p class="attribution">
      Website made by 
      <a href={socials.spark}>_Spark,</a>
      <a href={socials.rocks}>Rocks,</a>
      and 
      <a href={socials.tored}>Tored</a>
      with help from people in the VFTF Discord.
    </p>

    <div class="link-icons">

      <a href={socials.discord}>
        <img src="/images/icons/discord.svg" alt="Discord Server">
      </a>

      <a href={socials.steam}>
        <img src="/images/icons/steam.svg" alt="Steam Group">
      </a>

      <a href={socials.repo}>
        <img src="/images/icons/github.svg" alt="GitHub Repo">
      </a>

    </div>

    <div class="legal-notice">
      <p>Vanilla Fortress is not in any way affiliated with Valve Corporation. or the TF Team.</p>
      <p>Team Fortress 2 and all related content are property of Valve Corporation.</p>
    </div>

  </div>

</footer>