---
import ExternalLink from "./external_link.astro";
import ServerIframe from "./server_iframe.astro";

const { server, connect } = Astro.props;
---

<div class="server">
  <h3>{server.name}</h3>

  <ServerIframe id={server.id} name={server.name}/>

  <div class="links">

    <a href={connect} class="btn-connect">Connect</a>

    <button
      type="button"
      class="copy-ip"
      data-copy={server.ip}>
    Copy IP
    </button>

    {server.discord && (
      <ExternalLink href={server.discord}>Discord Server</ExternalLink>
    )}

    {server.steam && (
      <ExternalLink href={server.steam}>Steam Group</ExternalLink>
    )}

    {server.website && (
      <ExternalLink href={server.website}>Website</ExternalLink>
    )}

  </div>

</div>
